.slider {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.band {
    display: flex;
    flex-direction: row;
    margin-left: -800px;
}

.centre {
    width: 800px;
    overflow: hidden;
    position: relative;
}

.band img {
    width: 800px;
}

.slider .prev, .next {
    cursor: pointer;
    padding: 16px;
    margin: 20px;
    background-color: #ff0000;
    color: white;
}

.slider .prev:hover, .slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots {
    text-align: center;
}

.slider-dots_item{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 30px 10px 10px 10px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.active, .slider-dots_item:hover {
    background-color: #000000;
}